.centerAlign {
  text-align: center;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.blog-post {
  padding: 0 10%;
}

.blog-post-title {
  margin: 0;
  padding-top: 5%;
}

.blog-post-publish-date {
  font-weight: lighter;
}

.blog-post-content {
  padding: 1.5em 0;
}

.blog-post-content p {
  text-indent: 2em;
  margin: 0;
}